.navbar__menu_2 {
    display: flex;
    align-items: center;
    list-style: none;
    padding-left: 39rem;
}

#dashboard_img{
    width: 100px;
    height: 100px;
}

#panel {
    text-align: center;
    background: linear-gradient(to bottom, #131313, #0c0c0c);
}

#panel_content {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 50px;
}

.panel_element {
    display: inline-block;
    float: left;
    padding: 10px;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgba(100, 100, 100, 0.5);
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.panel_element:hover {
    background-color: rgba(100, 100, 100, 1);
    transition: background-color 0.3s ease;
}

.panel_element span {
    color: #fff;
    transition: color 0.3s ease;
    font-size: large;
}

.panel_element:hover span {
    color: #fcb045;
    transition: color 0.3s ease;
}

table {
    border-radius: 5px;
    background: #131313;
}

th, tr {
    /*text-align: center;*/
    color: #5e5e5e;
    padding: 15px;
}

td {
    padding: 15px;
    height: auto;
}

td#right{
    text-align: right;
}

td#left{
    text-align: left;
}

#wrap{
    text-align: center;
}

.content{
    font-weight: bold;
}