body{
    background: linear-gradient(to bottom, #000000, #131313);
}
.form_label{
    color: #fcb045;
    font-weight: bold;
}
#form_div{
    padding-top: 50px;
    text-align: center;
}
input:not([type='submit']){
    width: 250px;
    padding: 5px;
    border: 2px solid #ccc;
    border-radius: 4px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
input:not([type='submit']):focus{
    border: 2px solid #fcb045;
}
#submit{
    display: inline-block;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #fcb045;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
}
#submit p{
    position: relative;
    z-index: 10;
    color: #131313;
    transition: all 0.35s;
}
#submit:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #131313;
    transition: all 0.35s;
    border-radius: 6px;
}
#submit:hover p{
    color: #fff;
    transition: all 0.35s;
}
#submit:hover:after{
    width: 100%;
}