<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <welcome-file-list>
        <welcome-file>Welcome</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>Welcome</servlet-name>
        <servlet-class>navigation.Welcome</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Welcome</servlet-name>
        <url-pattern>/Welcome</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginNav</servlet-name>
        <servlet-class>navigation.LoginNav</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginNav</servlet-name>
        <url-pattern>/LoginNav</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>Register</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogIn</servlet-name>
        <servlet-class>LogIn</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogIn</servlet-name>
        <url-pattern>/LogIn</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>IsRegisterAvailable</servlet-name>
        <servlet-class>IsRegisterAvailable</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IsRegisterAvailable</servlet-name>
        <url-pattern>/IsRegisterAvailable</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>GetWallet</servlet-name>
        <servlet-class>GetWallet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetWallet</servlet-name>
        <url-pattern>/GetWallet</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>LogOut</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/LogOut</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DashboardNav</servlet-name>
        <servlet-class>navigation.DashboardNav</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DashboardNav</servlet-name>
        <url-pattern>/DashboardNav</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EditDataNav</servlet-name>
        <servlet-class>navigation.EditDataNav</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditDataNav</servlet-name>
        <url-pattern>/EditDataNav</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EditPersonalData</servlet-name>
        <servlet-class>EditPersonalData</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditPersonalData</servlet-name>
        <url-pattern>/EditPersonalData</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Servlet</servlet-name>
        <servlet-class>Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet</servlet-name>
        <url-pattern>/Servlet</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>Preferences</servlet-name>
        <servlet-class>Preferences</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Preferences</servlet-name>
        <url-pattern>/Preferences</url-pattern>
    </servlet-mapping>
</web-app>